@page
@model CarBooking.Pages.ViewPaymentsModel

<h2>All Payments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>Booking ID</th>
            <th>Rent</th>
            <th>Security Fee</th>
            <th>Total Paid</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model.PaymentsList)
        {
            <tr>
                <td>@p.PaymentID</td>
                <td>@p.BookingID</td>
                <td>@p.RentAmount</td>
                <td>@p.SecurityFee</td>
                <td>@p.TotalPaid</td>
                <td>@p.PaymentDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<br />
<a href="/AdminDashboard">Back</a>