@page
@model CarBooking.Pages.ViewBookingsModel

<h2>All Bookings</h2>

<table border="1">
    <tr>
        <th>Booking ID</th>
        <th>User ID</th>
        <th>Car ID</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var b in Model.BookingsList)
    {
        <tr>
            <td>@b.BookingID</td>
            <td>@b.UserID</td>
            <td>@b.CarID</td>
            <td>@b.StartDate.ToShortDateString()</td>
            <td>@b.EndDate.ToShortDateString()</td>
            <td>@b.Status</td>
            <td>
                @if (b.Status != "Cancelled")
                {
                    <a href="/ViewBookings?cancelId=@b.BookingID">Cancel</a>
                }
            </td>
        </tr>
    }
</table>

<br />
<a href="/AdminDashboard">Back</a>